@media screen
{
/* ----------------------------------------------------------------------------
    top menu
------------------------------------------------------------------------------
    html structure:

        div#topnav
            div#navblock
                ul#tabs
                    li
                    li.active
                        a.unselected
                        a.selected
---------------------------------------------------------------------------- */
    div#nav_block {
        margin: auto auto;              /* center top menu */
        width:680px;                    /* set size top menu */
        }
    ul#tabs {
        margin: 4px 0 0 0;              /* align adjustment */
        padding: 0;
        }
    ul#tabs li {
        float: left;
        list-style: none;
        margin: 0 10px 0 10px;          /* some space between the entries */
        }
    ul#tabs a {
        font-size: 14px;
        text-decoration: none;
        color: white;
        padding: 0px 10px 2px 10px;     /* space for the active marker*/
        }
    ul#tabs a:hover {
        border-bottom: 2px solid white; /* active tab marker */
        }
    ul#tabs li.active a {
        border-bottom: 2px solid #ff9600;
        }

/* ----------------------------------------------------------------------------
    sub menu
------------------------------------------------------------------------------
    html structure:

        div#submenu
            ul.block_level_one
                li.menu_entry
                li.menu_entry_active
                li.menu_entry_block
                    div.block_title
                    ul.block_level_two
                        li.menu_entry
                li.menu_entry_block_active
                    div.block_title
                    ul.block_level_two_active
                        li.menu_entry
                        li.menu_entry_active

    TODO: Find a way to select external links and mark them with an arrow..
---------------------------------------------------------------------------- */
/* submenu container */
    #submenu {
        color: #666;                    /* normal menu color */
        }
/* all lists */
    #submenu ul {
        list-style: none;               /* no list dots */
        padding: 0;                     /* reset */
        margin:0;
        }
/* all links */
    #submenu a {
        color: #666;                    /* normal menu color */
        display: block;                 /* use full list entry width */
        padding-left: 18px;             /* space for background image*/
        text-decoration: none;
        }
/* list level one */
    #submenu ul.block_level_one {
        border-right: 1px solid #ddd;   /* gray stroke to the right */
        margin: 10px 20px 0px 20px;     /* for stroke position only */
        padding: 0 0 20px 0;
        }
/* all list entries */
    #submenu li {
        margin: 8px 0 8px 0;            /* space between the entries */
        background-position: 0px 5px; /* background adjustment */
        background-repeat: no-repeat;
        }
    #submenu li:hover {
        background-image: url("../images/icon_bracket_gray.png");
        }
    #submenu li.menu_entry_active,
    #submenu li.menu_entry_active:hover {
        background-image: url("../images/icon_bracket_orange.png");
        }
    #submenu li.menu_entry.external:hover {
        background-image: url("../images/icon_arrow_gray.png");
        }
/* all title entries */
    #submenu li.menu_entry_block:hover,
    #submenu li.menu_entry_block_active {
        background-position: 0px 4px;   /* background adjustment */
        background-repeat: no-repeat;
        }
    #submenu li.menu_entry_block:hover {
        background-image: url("../images/icon_plus_gray.png");
        }
    #submenu li.menu_entry_block_active {
        background-image: url("../images/icon_plus_orange.png");
        }
/* all titles */
    #submenu div.block_title {
        cursor: pointer;                /* fake linke */
        padding-left: 18px;             /* space for background image*/
        }
    #submenu div.block_title:hover {
        }
    #submenu li.menu_entry_active {
        color: #15516e;                 /* active menu entry */
        }
/* container level 2+ */
    #submenu ul.block_level_two {
        display: none;                  /* hide all level 2+ menus */
        }
/* all entries level 2+  */
    #submenu ul.block_level_two li,
    #submenu ul.block_level_two_active li {
        font-size: 83%;
        margin: 3px 0 3px 0px;          /* space between the entries */
        background-position: 0px 4px; /* background adjustment */
        }
    #submenu ul.block_level_two li:hover,
    #submenu ul.block_level_two_active li:hover {
        background-image: url("../images/icon_bracket_gray.png");
        }
    #submenu ul.block_level_two_active li.menu_entry_active,
    #submenu ul.block_level_two_active li.menu_entry_active:hover {
        background-image: url("../images/icon_bracket_orange.png");
        }
    #submenu ul.block_level_two li a,
    #submenu ul.block_level_two_active li a,
    #submenu ul.block_level_two div.block_title,
    #submenu ul.block_level_two_active div.block_title {
        padding-left: 30px;             /* space for background image*/
        }
/* entry level 3+ (should not exists) */
    #submenu ul.block_level_two li.menu_entry_block div.block_title,
    #submenu ul.block_level_two_active li.menu_entry_block_active div.block_title,
    #submenu ul.block_level_two li.menu_entry_block div.block_title,
    #submenu ul.block_level_two_active li.menu_entry_block div.block_title {
        color:red;                                  /* mark all level 3+*/
    }
}