@media screen
{
    body
    {
        overflow-y: scroll;     /* always show right scrollbar */
        background-color: #ffffff;
        background-image: url("../images/background_white_to_gray.jpg");
        background-repeat: repeat-x;
        background-attachment: fixed;
        background-position: 0px 100%;
        background-clip: border-box;
        background-origin: padding-box;
        background-size: auto auto;
    }
    #header {
        margin-top: 10px;
        height: 80px;
        background-color: transparent;
        background-image: url("../images/background_header_blue_xml.png");
        background-repeat: repeat-none;
    }
    #topnav {
        height: 27px;
        background-color: transparent;
        background-image: url("../images/background_dark_blue.png");
        background-repeat: repeat-none;
    }
    #main {
        min-height: 400px;
        background-color: transparent;
        background-image: url("../images/background_gray_stripes_shadowfree.png");
        background-repeat: repeat-y;
        padding: 20px 0px;
    }
    #main div.row {}
    #subnav {}
    #content {}
    #righty {}
    #footer {
        height: 31px;
        background-color: transparent;
        background-image: url("../images/background_footer_blue_xml.png");
        background-repeat: repeat-none;
    }
    .rounded {
        -moz-border-radius:10px; /* Firefox */
        -webkit-border-radius:10px; /* Safari, Chrome */
        -khtml-border-radius:10px; /* Konqueror */
        border-radius:10px; /* CSS3 */
    }

    /* top menu
        div#topnav
        div#navblock
        ul#tabs
        li.active
        a.unselected
        a.selected
    */
    div#nav_block { margin: auto auto; width:520px;}
    ul#tabs { margin: 4px 0 0 0; padding: 0;}
    ul#tabs li { float: left; list-style: none; margin: 0 10px 0 10px; }
    ul#tabs a { text-decoration: none; color: white; padding: 0px 10px 2px 10px; }
    ul#tabs a:hover { border-bottom: 2px solid white; }
    ul#tabs li.active a { border-bottom: 2px solid #ff9600; }



/* ----------------------------------------------------------------------------
    sub menu
------------------------------------------------------------------------------
    html structure:

        div#menu
            ul.mastergroup
                li.menuitem
                li.menutitle
                    div.block_title
                    ul.menuitemgroup
                        li.menuitem

---------------------------------------------------------------------------- */
/* submenu container */
    #menu {
        color: #666;
        }
/* all lists */
    #menu ul {
        list-style: none;
        padding: 0;
        margin:0;
        }
/* all links */
    #menu a {
        color: #666;
        display:block;
        }
/* list level one */
    #menu>ul {
        border-right: 1px solid #ddd;
        margin: 10px 20px 0px 20px;
        }
/* all list entries */
    #menu li {
        margin: 8px 0 8px 0;
        padding: 0;
        padding-left: 13px;
        }
    #menu li:hover {
        background-image: url("../images/background_rectangle_gray.png");
        background-position: 2px -10px;
        background-repeat: no-repeat;
        }
    #menu li.active,
    #menu li.active:hover {
        background-image: url("../images/background_rectangle_orange.png");
        background-position: 2px -10px;
        background-repeat: no-repeat;
        }
/* all entry links */
    #menu li:hover a {
        text-decoration: none;
        color: #666;
        }
/* all title entries */
    #menu li.menutitle {
        }
    #menu li.menutitle:hover {
        background-image: url("../images/background_plus_gray.png");
        background-repeat: no-repeat;
        background-position: 0px 6px;
        }
    #menu li.menutitle.active {
        background-image: url("../images/background_plus_orange.png");
        background-repeat: no-repeat;
        background-position: 0px 6px;
        }
/* all titles */
    #menu div.block_title {
        cursor:pointer;
        }
    #menu div.block_title:hover {
        }
    #menu li.active div {
        color: #15516e;
        }
/* container level 2+ */
    #menu .menuitemgroup {
        display: none;
        }
/* titles level 2+ (should not exist) */
    #menu ul li ul li div {
        font-size: 83%;
        }
/* entry level 2+ */
    #menu ul ul li {
        padding-left: 30px;
        margin: 3px 0 3px -10px;
        background-image: url("../images/background_rectangle_grayy.png");
        background-repeat: no-repeat;
        background-position: left top;
        }
    #menu li li:hover {
        background-image: url("../images/background_rectangle_gray.png");
        background-repeat: no-repeat;
        background-position: left -15px;
        }
    #menu ul ul li.active {
        background-image: url("../images/background_triangle_orange.png");
        background-repeat: no-repeat;
        background-position: left -15px;
        }
    #menu li li.active,
    #menu li li.active:hover {
        background-image: url("../images/background_triangle_orange.png");
        background-repeat: no-repeat;
        background-position: left -15px;
        }
/* link level 2+ */
    #menu ul li ul li a {
        font-size: 83%;
        }
    #menu ul li ul li.active a {
        color: #15516e;
        }
}