@media screen
{
    body
    {
        overflow-y: scroll;     /* always show right scrollbar */
        background-color: #ffffff;
        background-image: url("../images/background_white_to_gray.jpg");
        background-repeat: repeat-x;
        background-attachment: fixed;
        background-position: 0px 100%;
        background-clip: border-box;
        background-origin: padding-box;
        background-size: auto auto;
        font-family: 'Sintony', sans-serif;
        }
    h1, h2, h3, h4, h5 {font-family: 'Lato', sans-serif;}
    h1 {font-size:28px;}
    h2 {font-size:24px;}
    h3 {font-size:20px;}
    h4 {font-size:16px;}
    h5 {font-size:14px;}
    #header {
        margin-top: 10px;
        height: 80px;
        background-color: transparent;
        background-image: url("../images/background_header_blue_xml.png");
        background-repeat: repeat-none;
        }
    #topnav {
        height: 30px;
        background-color: transparent;
        background-image: url("../images/background_dark_blue_30.png");
        background-repeat: repeat-none;
        }
    #main {
        min-height: 400px;
        background-color: transparent;
        background-image: url("../images/background_gray_stripes_shadowfree.png");
        background-repeat: repeat-y;
        padding: 20px 0px;
        }
    #footer {
        height: 31px;
        background-color: transparent;
        background-image: url("../images/background_footer_blue_xml.png");
        background-repeat: no-repeat;
        }

    #big_content #content {
        margin: 0 35px 0 35px;
        }
    #sub_content #content {
        margin: 0 35px 0 0;
        }
        #mycore_home .pdflink { display:none; }
/* ----------------------------------------------------------------------------
    search
------------------------------------------------------------------------------*/
    .navbar-search {
        margin: 26px 35px 0 0;
        }
    .navbar-search input {
        margin: 0;
        width: 250px;

        /* overwrite bootstrap settings */
        font-family: 'Sintony', sans-serif;
        font-size: 12px;
        line-height: 16px;
        height: 16px;
        padding: 2px 6px;
        line-height: 16px;
        border: 1px solid #354953;
        }
    .navbar-search .btn {
        margin: 0 0 0 -40px;

        /* overwrite bootstrap settings */
        background-color: #15516e;
        *background-color: #15516e;
        background-image: -moz-linear-gradient(top, #15516e, #354953);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#15516e), to(#354953));
        background-image: -webkit-linear-gradient(top, #15516e, #354953);
        background-image: -o-linear-gradient(top, #15516e, #354953);
        background-image: linear-gradient(to bottom, #15516e, #354953);
        border-bottom-color: #444;
        padding: 2px 12px;
        font-size: 12px;
        line-height: 16px;
        }
/* ----------------------------------------------------------------------------
    feedback
------------------------------------------------------------------------------
    html structure:

        div#feedback
            a
---------------------------------------------------------------------------- */
    #feedback {
            margin: 2px 0 0 35px;
            float: left;
        }
    #feedback a {
            color: white;
        }
/* ----------------------------------------------------------------------------
    footer menu
------------------------------------------------------------------------------
    html structure:

        div#footer_menu
            a
---------------------------------------------------------------------------- */
    #footer_menu {
            color: #ccc;
            margin: 2px 35px 0 0px;
        }
    #footer_menu a {
            color: white;
            font-size:12px;
        }
/* ----------------------------------------------------------------------------
    icons - bootstrap path replacement
------------------------------------------------------------------------------*/
    [class^="icon-"],
    [class*=" icon-"] {
       background-image: url("../images/glyphicons-halflings.png");
       }
    .icon-white,
    .nav-pills > .active > a > [class^="icon-"],
    .nav-pills > .active > a > [class*=" icon-"],
    .nav-list > .active > a > [class^="icon-"],
    .nav-list > .active > a > [class*=" icon-"],
    .navbar-inverse .nav > .active > a > [class^="icon-"],
    .navbar-inverse .nav > .active > a > [class*=" icon-"],
    .dropdown-menu > li > a:hover > [class^="icon-"],
    .dropdown-menu > li > a:focus > [class^="icon-"],
    .dropdown-menu > li > a:hover > [class*=" icon-"],
    .dropdown-menu > li > a:focus > [class*=" icon-"],
    .dropdown-menu > .active > a > [class^="icon-"],
    .dropdown-menu > .active > a > [class*=" icon-"],
    .dropdown-submenu:hover > a > [class^="icon-"],
    .dropdown-submenu:focus > a > [class^="icon-"],
    .dropdown-submenu:hover > a > [class*=" icon-"],
    .dropdown-submenu:focus > a > [class*=" icon-"] {
       background-image: url("../images/glyphicons-halflings-white.png");
       }
/* ----------------------------------------------------------------------------
    news
------------------------------------------------------------------------------
---------------------------------------------------------------------------- */
    #news h3 {
        color: #15516e;
        font-weight: normal;
        font-family: 'Sintony',sans-serif;
        font-size: 16px;
        line-height: 20px;
        margin: 10px 20px 0px 20px;
        padding: 0 0 0 18px;
        border-right: 1px solid #ddd;       /* gray stroke to the right */
        background-position: 0px 6px;       /* background adjustment */
        background-repeat: no-repeat;
        background-image: url("../images/icon_arrow_down_orange.png");
        }
    #news a {
        color: #666;                        /* normal menu color */
        display: block;                     /* use full list entry width */
        padding-left: 18px;                 /* space for background image*/
        text-decoration: none;
        background-position: 0px 5px;       /* background adjustment */
        background-repeat: no-repeat;
        }
    #news a:hover {
        background-image: url("../images/icon_bracket_gray.png");
        }
    #news a.external:hover {
        background-image: url("../images/icon_arrow_gray.png");
        }
    #news ul {
        list-style: none;                   /* no list dots */
        padding: 20px 10px 20px 0;             /* reset */
        border-right: 1px solid #ddd;       /* gray stroke to the right */
        margin: 0px 20px 0px 20px;          /* for stroke position only */
        }
    #news li {
        margin: 0px 0 20px 0;               /* space between the entries */
        line-height: 14px;
        font-size: 10px;
        color: #999;
        text-align: left;
        }
    #news .message {
        color: #666;
        font-size: 13px;
        line-height: 20px;
        margin: 0 0 4px 0;
        display:block;
        }
    #news .author,
    #news .date {
        white-space: nowrap;
        display: block;
        padding-left: 18px;
        }
}