/******************************************************
 * CSS Stylesheet fuer MyCoRe Standort-Karte          *
 ******************************************************/

.olFramedCloudPopupContent{
  font-size: 12px;
  height: auto !important;
}

.olPopup h2 {
  font-size: 14px;
  margin-top: 0px;
  font-weight: bold;
}

.olPopup h3 {
  font-size: 14px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 4px;
  line-height: 150%;
}

.olPopup p {
  margin: 0px;
  font-size: .9em;
}


div.mcrmap_item{
  margin-bottom:4px;
  width:100%;
  display:table
}


div.mcrmap_item span{
  display:table-cell;
  vertical-align: middle;
}

div.mcrmap_item a{
  display:table-cell;
  vertical-align: middle;
  text-decoration: none;
  color: darkblue;
}

div.mcrmap_item a:FIRST-CHILD{
  width:32px;
}

div.mcrmap_item a:VISITED{
  text-decoration: none;
}

div.mcrmap_item img.icon{
  margin-right:12px;
  vertical-align: middle;
  height:24px;
}

div.mcrmap_item img.info{
  vertical-align: middle;
}

#map_div {
  width: 600px;
  height: 750px;
  border: 1px solid #dddddd;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
#map_div img {
  max-width:none;
}